.mainCont{
	margin: 0px 10px 0px 0px;
	padding: 20px;
	height: 95%;
	min-height: 350px;
}

.myRow{
	height: 100%;
}

.chatCont{
	border: 1px solid rgba(0,0,0, 0.3);
	border-left: 0px;
	border-radius: 0px 10px 10px 0px;
}