$mcPadding: 30px;

.mainCont{
	margin: 0px 10px 0px 0px;
	padding: $mcPadding;
	height: 95%;
	min-height: 350px;
}

.myRow{
	height: 100%;
}

.chatCont{
	border: 1px solid rgba(0,0,0, 0.3);
	border-left: 0px;
	border-radius: 0px 10px 10px 0px;
}

.errToast{
	background-color: rgba(255, 72, 56, 1);
	color: white;
}

.errCont{
	position: fixed;
	background-color: red;
	color: white;
	width: 100%;
	height: $mcPadding;
	text-align: center;
	border-radius: 0px 0px 10px 10px;
}