$myGreen: rgba(47, 224, 82, 1);
$myBlue: rgba(51, 117, 224, 1);

.mainCont{
	height: 85%;
	padding: 20px 2px 40px 10px;
}

.chatHeader{
	height: 40px;
	text-align: center;
	margin: -20px -17px 20px -25px;
	padding-top: 5px;
	background-color: rgba(51, 117, 224, 1);
	color: white;
	font-size: 20px;
	border-radius: 0px 10px 0px 0px;
}

.dispCont{
	height: 100%;
	width: 100%;
}

.blockShared{
	border-radius: 20px;
	margin-bottom: 5px;
	padding: 5px 10px;
	max-width: 65%;
	color: white;
}

.leftBlock{
	@extend .blockShared;
	background-color: $myBlue;
}

.rightBlock{
	@extend .blockShared;
	margin-right: 10px;
	background-color: $myGreen;
}

.btnContainer{
	position: absolute;
	cursor: pointer;
	display: inline-block;
	right: 10px;
	margin-bottom: 3px;
}

.headerTxt{
	font-size: 12px;
	margin-left: 3px;
}

.acceptFR{
	background-color: $myGreen;
	text-align: center;
}

.acceptTxt{
	font-size: 12px;
	margin: 0px 40px 0px 2px;
}

.acceptTxt:hover{
	cursor:pointer;
}

.removeSpan{
	position: absolute;
	margin-top: 5px;
	right: 15px;
	font-size: 12px;
}

.removeSpan:hover{
	cursor: pointer
}

.acceptTxt:hover{
	cursor: pointer;
}

.pickMsg{
	font-size: 45px;
	opacity: 0.7;
}