@import url(https://fonts.googleapis.com/css?family=Arimo);

$myGreen: rgba(47, 224, 82, 1);
$myRed: rgba(211, 55, 31, 1);

.emptyDiv{
	margin-top: 35px;
	font-family: 'Arimo';
	font-size: 18px;
}

.onlineDot{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: $myGreen;
	margin-right: 5px;
}

.offlineDot{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: grey;
	margin-right: 5px;
}

.notifSpan{
	position: absolute;
	display: inline-block;
	right: 10px;
	padding: 2px 5px;
	border-radius: 40%;
	color: white;
	background-color: $myRed;
	margin-right: 5px;
}